<html>
    <head>
        <title>Trial App</title>
    </head>
    <body onload="osCheck()">
        <h1>Hello!</h1>
        <p id="OS"></p>
    </body>
    <script> 
        function osCheck() { 
            var OSName="Unknown OS";
            if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
            if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
            if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
            if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";
              
            // Display the OS name
            document.getElementById("OS").innerHTML = OSName;
        } 
    </script>
</html>  